// header
@media (width <= 992px){
    // header
    .header{
        .top-header{
            div{
                display: none;
            }
        }
        .top-main{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 0;
            padding-bottom: 1em;
            .col-lg-1{
                width: 50%;
                display: flex;
                justify-content: flex-start;
            }
            div:nth-child(2),
            div:nth-child(3),
            div:nth-child(4),
            div:nth-child(5),
            div:nth-child(6),
            div:nth-child(7){
                display: none;
            }
            .border-end{
                border-right:none!important;
                height: auto;
                img{
                    margin-right: 0;
                }
            }
        }
        .menu{
            display: flex;
            justify-content: flex-end;
            height: 100%;
            width: 50%;
            background-color: white;
            .navbar-collapse {
                &.show {
                  display: flex; // Muestra la navbar cuando está abierta
                  flex-direction: column;
                  align-items: flex-end;
            
                  ul {
                    margin-top: 1rem; // Añade un margen superior para separar los enlaces
                  }
                }
              }
            ul{
                li{
                    text-align: right;
                    width: auto;
                    border-bottom: solid .5px $mainColor;
                    a{
                        color: $mainColor;
                        padding: .6em;
                        font-size: .8em;
                        &.active{
                            background-color: transparent;
                            color: $mainColor;
                        }
                    }
                }
            }
            .w-100{
                width: auto!important;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                button{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .hero{
        animation:none;
        background: url(../../img/bg-hero-mobile.webp) top center no-repeat;
        transform: translateY(0);
        background-size: cover;
        height: 80vh;
        .container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .form{
                margin-top:20px;
            }
        }
    }
    // mobile top
    .mobile-top{
        display: block;
        padding: 0 30px;
        div{
            margin-bottom: 10px;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                width: 60px;
                margin-right: 10px;
            }
            span{
                font-size: 1em;
                color: $mainColor;
                &.fw-bold{
                    font-size: 1.4em;
                }
            }
            .btn-primary{
                width: 100%;
            }
        }
    }
    // our fleet
    .our-fleet{
        h2,
        p{
            transform: translateX(0);
        }
        .multiple-items{
            box-sizing: border-box;
            figure{
                border:transparent solid 1px;
                figcaption{
                    margin-left: 30px;
                    &+span{
                        padding-left: 30px;
                        &+div{
                            padding-left: 30px;
                            &+div{
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
            .slick-prev{
                transform: translateX(20px);
                &::before{
                    font-size: 40px;
                    position: relative;
                    z-index: 5;
                }
            }
            .slick-next{
                transform: translateX(-40px);
                &::before{
                    font-size: 40px;
                    position: relative;
                    z-index: 5;
                }
            }
        }
    }
    // banner plane
    .banner-plane{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


// desktop and larger
@media (width >= 1500px){
    .hero{
        height: 800px;
    }
}