// mobile top
.mobile-top{
    display: none;
}
// our fleet
.our-fleet{
    color:$mainColor;
    h2,
    p{
        transform: translateY(-30px);
    }
    .multiple-items{
        box-sizing: border-box;
        .slick-prev,
        .slick-next {
            display: block; 
            &::before{
                color: $mainColor;
            }
        }
        img[src$=".svg"]{
            width: 16px;
        }
        figure{
            border:solid 1px $mainColor;
            padding-bottom: 1em;
            border-radius: 2px;
            padding: .8em 1em;
            box-sizing: border-box;
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            span.fs-6.fw-light{
              font-weight: 500!important;
            }
            img{
                width: 200px;
                display: block;
                margin: auto;
            }
            p{
              margin-bottom: 1em;
              margin-top: 0;
            }
            figcaption{
                background-color: $deepPink;
                color: $white;
                width: 50%;
                padding: .4em;
                margin-bottom: .8em;
            }
        }
    }
}
// video Buenos Aires city
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    #video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      object-fit: cover;
      z-index: -1;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:rgba(103, 110, 128,.5); 
    }
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      z-index: 1;
      h3{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
        font-weight: 500;
        line-height: normal; 
      }
      .btn-primary{
        width: 300px;
        display: block;
        margin: auto;
        font-size: 1.2em;
      }
    }
  }
  // fares
  .fares{
    p{
      color: $mainColor;
      margin-bottom: 0;
      font-size: .9em;
    }
    .accordion-button:not(.collapsed){
      background-color: transparent;
    }
    .accordion{
      h4{
        font-size: 1em;
        font-weight: 400;
        color: $deepPink;
      }
      ul{
        li{
          list-style-type: disc;
          color: $mainColor;
          font-size: .9em;
        }
      }
      .accordion-item{
        border: solid 1px $deepPink;
        margin-bottom: .3em;
        .accordion-button{
          text-transform: uppercase;
          color: $mainColor;
        }
      }
    }
  }
// banners
.banners{
  h3{
    color: white;
    text-transform: uppercase;
    font-size: 2em;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7); 
    font-weight: 600;
    line-height: normal; 
  }
  .carousel-caption{
    transform: translateY(-100px);
    .btn-primary{
      width: 350px;
      display: block;
      margin: auto;
    }
  }
}
// faqs
.faqs{
  .accordion{
    .accordion-item{
      border: solid 1px $mainColor;
      margin-bottom: .3em;
    }
    .accordion-button{
      color: $mainColor;
    }
    .accordion-button:not(.collapsed){
      background-color: transparent;
    }
    p{
      font-size: .9em;
      color: $mainColor;
      line-height: 1.6em;
    }
  }
}
// banner plane
.banner-plane{
  height: 50vh;
  background: url(../../img/banner-plane.webp) top center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
    color: white;
    text-transform: uppercase;
    font-size: 2em;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
    font-weight: 600;
    line-height: normal; 
    margin-right: 10px;
  }
  .btn-primary{
    width: 200px;
  }
}
// about us
.about-us{
  p{
    color: $mainColor;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: 300;
  }
  ul{
    list-style: none;
    padding-left: 0;
    li{
      margin-right: 10px;
      color: $mainColor;
      font-size: .8em;
      margin-bottom: 10px;
      &:first-child{
        transform: translateX(-1px);
      }
    }
  }
  article:last-child{
    img{
      width: 150px!important;
    }
  }
}
// footer
footer{
  background-color: $mainColor;
  p{
    color: $white;
    font-size: .7em;
    margin: 0;
  }
}
// whatsapp buble
.whatsapp-buble{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 200;
  img{
    width: 70px;
  }
}