@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");
* {
  font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.container {
  width: 95% !important;
  max-width: 95%;
}

@font-face {
  font-family: "frutigerbold";
  src: url("../../fonts/ftb-webfont.woff2") format("woff2"), url("../../fonts/ftb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "frutigerlight_cn";
  src: url("../../fonts/ftlc-webfont.woff2") format("woff2"), url("../../fonts/ftlc-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.btn-primary {
  background-color: rgb(236, 101, 157);
  color: rgb(249, 246, 246);
  padding: 0.6em;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.06em;
  display: block;
  text-align: center;
  font-size: 0.9em;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(245, 181, 206);
  border: solid 0.6px rgb(245, 181, 206);
  transition: all 0.4s ease;
}

.bg-deeppink {
  background-color: rgb(236, 101, 157);
}

.border-radius-top-left {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 0 !important;
}

.border-radius-top-right {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 0 !important;
}

h1,
h2,
h3 {
  font-family: "frutigerlight_cn";
  color: rgb(103, 110, 128);
  font-weight: 600;
}

.text-pink {
  color: rgb(236, 101, 157);
}

.text-main {
  font-family: "frutigerlight_cn";
}

.text-secondary {
  font-family: "Encode Sans", sans-serif;
  color: rgb(103, 110, 128);
  margin-bottom: 0;
  font-size: 0.9em !important;
}

.header .row {
  margin: 0;
}
.header .border-bottom {
  border-bottom: 0.8px solid rgba(35, 30, 33, 0.6) !important;
}
.header .top-header {
  padding: 0.4em 0;
  color: rgb(103, 110, 128);
}
.header .top-header a {
  text-decoration: none;
}
.header .top-header p {
  margin-bottom: 0;
  font-size: 0.8em;
}
.header .top-main {
  padding: 0.8em 0;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: rgb(103, 110, 128);
  font-weight: 400;
  box-sizing: border-box;
}
.header .top-main .border-end {
  height: 55px;
  display: flex;
  align-items: center;
  border-right: solid 1px rgba(35, 30, 33, 0.6) !important;
}
.header .top-main .border-end img {
  margin-right: 0.4em;
}
.header .top-main .brand {
  width: 80px;
  margin-top: 5px;
}
.header .menu {
  background-color: rgb(103, 110, 128);
  margin-top: 20px;
  padding: 0;
  position: relative;
  z-index: 4;
}
.header .menu ul {
  width: 100%;
}
.header .menu ul li {
  width: 20%;
  text-align: center;
}
.header .menu ul li a {
  text-transform: uppercase;
  color: rgb(249, 246, 246);
  font-weight: 500;
}
.header .menu .active {
  background-color: rgb(236, 101, 157);
  color: rgb(249, 246, 246);
}

.hero {
  transform: translateY(-60px);
  position: relative;
  z-index: 1;
  height: 90vh;
  background: url(../../img/bg-hero.jpg) no-repeat left 40px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.hero .container {
  display: flex;
  justify-content: flex-end;
}
.hero .container .form {
  width: 280px !important;
  height: 267px;
  flex-shrink: 0;
  margin-top: 100px;
  width: 30%;
  position: relative;
  z-index: 5;
}
.hero .container .form #myTab .nav-item {
  width: 50%;
}
.hero .container .form #myTab .nav-link {
  border-color: transparent;
  background-color: rgb(249, 246, 246);
  width: 100%;
  font-size: 0.8em;
  color: rgb(103, 110, 128);
}
.hero .container .form #myTab .nav-link.active {
  background-color: rgb(236, 101, 157) !important;
  color: rgb(249, 246, 246) !important;
}
.hero .container .form .tab-content {
  background-color: rgba(103, 110, 128, 0.6);
  margin-top: 0 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.9em;
}
.hero .container .form .tab-content label {
  color: rgb(249, 246, 246);
  font-weight: 500;
}
.hero .container .form .tab-content input {
  font-size: 0.8em;
}

.mobile-top {
  display: none;
}

.our-fleet {
  color: rgb(103, 110, 128);
}
.our-fleet h2,
.our-fleet p {
  transform: translateY(-30px);
}
.our-fleet .multiple-items {
  box-sizing: border-box;
}
.our-fleet .multiple-items .slick-prev,
.our-fleet .multiple-items .slick-next {
  display: block;
}
.our-fleet .multiple-items .slick-prev::before,
.our-fleet .multiple-items .slick-next::before {
  color: rgb(103, 110, 128);
}
.our-fleet .multiple-items img[src$=".svg"] {
  width: 16px;
}
.our-fleet .multiple-items figure {
  border: solid 1px rgb(103, 110, 128);
  padding-bottom: 1em;
  border-radius: 2px;
  padding: 0.8em 1em;
  box-sizing: border-box;
  margin: 0 5px;
}
.our-fleet .multiple-items figure span.fs-6.fw-light {
  font-weight: 500 !important;
}
.our-fleet .multiple-items figure img {
  width: 100%;
}
.our-fleet .multiple-items figure p {
  margin-bottom: 1em;
  margin-top: 0;
}
.our-fleet .multiple-items figure figcaption {
  background-color: rgb(236, 101, 157);
  color: rgb(249, 246, 246);
  width: 50%;
  padding: 0.4em;
  margin-bottom: 0.8em;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-container #video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(103, 110, 128, 0.5);
}
.video-container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.video-container .content h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  line-height: normal;
}
.video-container .content .btn-primary {
  width: 300px;
  display: block;
  margin: auto;
  font-size: 1.2em;
}

.fares p {
  color: rgb(103, 110, 128);
  margin-bottom: 0;
  font-size: 0.9em;
}
.fares .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.fares .accordion h4 {
  font-size: 1em;
  font-weight: 400;
  color: rgb(236, 101, 157);
}
.fares .accordion ul li {
  list-style-type: disc;
  color: rgb(103, 110, 128);
  font-size: 0.9em;
}
.fares .accordion .accordion-item {
  border: solid 1px rgb(236, 101, 157);
  margin-bottom: 0.3em;
}
.fares .accordion .accordion-item .accordion-button {
  text-transform: uppercase;
  color: rgb(103, 110, 128);
}

.banners h3 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  line-height: normal;
}
.banners .carousel-caption {
  transform: translateY(-100px);
}
.banners .carousel-caption .btn-primary {
  width: 350px;
  display: block;
  margin: auto;
}

.faqs .accordion .accordion-item {
  border: solid 1px rgb(103, 110, 128);
  margin-bottom: 0.3em;
}
.faqs .accordion .accordion-button {
  color: rgb(103, 110, 128);
}
.faqs .accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.faqs .accordion p {
  font-size: 0.9em;
  color: rgb(103, 110, 128);
  line-height: 1.6em;
}

.banner-plane {
  height: 50vh;
  background: url(../../img/banner-plane.jpg) top center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-plane h3 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  line-height: normal;
  margin-right: 10px;
}
.banner-plane .btn-primary {
  width: 200px;
}

.about-us p {
  color: rgb(103, 110, 128);
  font-size: 0.9em;
  line-height: 1.4em;
  font-weight: 300;
}
.about-us ul {
  list-style: none;
  padding-left: 0;
}
.about-us ul li {
  margin-right: 10px;
  color: rgb(103, 110, 128);
  font-size: 0.8em;
  margin-bottom: 10px;
}
.about-us ul li:first-child {
  transform: translateX(-1px);
}
.about-us article:last-child img {
  width: 150px !important;
}

footer {
  background-color: rgb(103, 110, 128);
}
footer p {
  color: rgb(249, 246, 246);
  font-size: 0.7em;
  margin: 0;
}

.whatsapp-buble {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 200;
}
.whatsapp-buble img {
  width: 70px;
}

@media (width <= 992px) {
  .header .top-header div {
    display: none;
  }
  .header .top-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 1em;
  }
  .header .top-main .col-lg-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  .header .top-main div:nth-child(2),
  .header .top-main div:nth-child(3),
  .header .top-main div:nth-child(4),
  .header .top-main div:nth-child(5),
  .header .top-main div:nth-child(6),
  .header .top-main div:nth-child(7) {
    display: none;
  }
  .header .top-main .border-end {
    border-right: none !important;
    height: auto;
  }
  .header .top-main .border-end img {
    margin-right: 0;
  }
  .header .menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    background-color: white;
  }
  .header .menu .navbar-collapse.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header .menu .navbar-collapse.show ul {
    margin-top: 1rem;
  }
  .header .menu ul li {
    text-align: right;
    width: auto;
    border-bottom: solid 0.5px rgb(103, 110, 128);
  }
  .header .menu ul li a {
    color: rgb(103, 110, 128);
    padding: 0.6em;
    font-size: 0.8em;
  }
  .header .menu ul li a.active {
    background-color: transparent;
    color: rgb(103, 110, 128);
  }
  .header .menu .w-100 {
    width: auto !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header .menu .w-100 button {
    margin-bottom: 10px;
  }
  .hero {
    background: url(../../img/bg-hero-mobile.jpg) top center no-repeat;
    transform: translateY(0);
    background-size: cover;
    height: 80vh;
  }
  .hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .container .form {
    margin-top: 0;
  }
  .mobile-top {
    display: block;
    padding: 0 30px;
  }
  .mobile-top div {
    margin-bottom: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mobile-top div img {
    width: 60px;
    margin-right: 10px;
  }
  .mobile-top div span {
    font-size: 1em;
    color: rgb(103, 110, 128);
  }
  .mobile-top div span.fw-bold {
    font-size: 1.4em;
  }
  .mobile-top div .btn-primary {
    width: 100%;
  }
  .our-fleet h2,
  .our-fleet p {
    transform: translateX(0);
  }
  .our-fleet .multiple-items {
    box-sizing: border-box;
  }
  .our-fleet .multiple-items .slick-prev {
    transform: translateX(30px);
  }
  .our-fleet .multiple-items .slick-next {
    transform: translateX(-30px);
  }
  .banner-plane {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (width >= 1500px) {
  .hero {
    height: 800px;
  }
}

/*# sourceMappingURL=main.css.map */
